<h1> <%= @journal.title %> </h1>
<br>
<ul>
  <a class="button4 button4" href="/entries/<%= @journal.id %>/new">New Entry</a>
</ul>
<br>
<br>
<% @journal.entries.each do |e| %>
  <h4>
    <a class="button3 button1"><%= e.date %></a>
    <a class="button button2" href="/entries/<%= e.id %>"><%= e.title %></a>
  </h4>
<% end %>

 