<h1> <%= @journal.title %> </h1>
<br>
  <h4><a class="button4 button4" href="/entries/<%= @journal.id %>/new">new entry &#128395;</a></h4>
<br>
<br>
<% @journal.entries.each do |e| %>
  <h4>
    <a>&#128467; <%= e.date %></a>
    <a class="button button2" href="/entries/<%= e.id %>"><%= e.title %></a>
    <a class="button4 button4" href="/entries/<%= e.id %>/edit">edit &#128394;</a>
  </h4>
<% end %>
<br>
<form action="/journals/<%=@journal.id%>" method="post">
    <input type="hidden" name="_method" value="delete"> 
    <input type="submit" style="font-weight: bold" class="button4 button4" value= "delete journal &#10060;">
</form>
  
 